<html>
  <head>
    <title>Verificación de seguridad</title>
  </head>
  <body>
    <img
      src='https://drive.google.com/uc?export=download&id=1_OCZGIh7yId_xOdHGz8GaEO8b80QNIhR'
      alt='Billete Logo'
    />
    <h1>Hola, </h1>
    <p>Tu código de verificación es: {{verificationCode}}</p>
  </body>
</html>