<html>
  <head>
    <title>Bienvenido</title>
  </head>
  <body>
    <img
      src='../../../../../public/assets/images/billete-logo.png'
      alt='Billete Logo'
    />
    <h1>Hola, </h1>
    <p>Bienvenido a nuestro servicio. Estamos encantados de tenerte con
      nosotros.</p>
    <p>Para activar tu cuenta, por favor haz clic en el siguiente enlace:
      <a>Activar Cuenta</a></p>
  </body>
</html>